node_modules
dist
build
.next
coverage
.env
.env.local
.env.docker.local
*.log
.DS_Store
turbo
.turbo
.idea
.vscode/settings.json
postgres_data
.container_data

# Cleanup artifacts
.gitignore_artifacts/
